# Ignore node modules in both frontend and backend
FrontEnd/note-app/node_modules/
BackEnd/node_modules/

# Environment files
.env
FrontEnd/note-app/.env
BackEnd/.env

# Build outputs
dist/
build/
FrontEnd/note-app/dist/
FrontEnd/note-app/build/
BackEnd/dist/
BackEnd/build/